kiss
kiss2
mis
misg
shells/*.graph
shells/*.npy
__pycache__/
shells/*.json
shells/*.vec
misw
kiss3
kiss4
kiss5
numvc
kissF
kissS
cyclic
kissQ
kissP
runs/**/*.graph
runs/**/*.npy
kissA
kissR
autgen
corb
regorb
runs/**/*.wgraph
runs/**/*.members
runs/**/*.bin
runs/**/*.reps
